@import "bourbon";
@import "framework";
@import "neat";

/*
 * Only apply if responsive is disabled
 * in the theme options
 */
@include container-class() {
	@include outer-container();
	width: auto;
}

/*
 * Medium devices (desktops, 992px and below)
 * Change container width to 750px with 12 columns
 */
@include media($desktop) {

	/*
	 * Layout
	 */
	@include container-class() {
		@include outer-container( break(tablet-small) );
	}
	
	#container {
		@include boxed-layout(break(tablet-small));
	}

	#top,
	#featured,
	#main,
	#bottom {
		padding-right: 20px;
		padding-left: 20px;
	}

	/*
	 * Remove padding in boxed layout
	 */
	@if config(boxed) != true {
		#featured {
			padding-right: 0;
			padding-left: 0;
		}
	}
	
	/*
	 * Header
	 */
	div.brand {
		margin: 0;
		text-align: center;
		
		a.logo {
			margin: 0 auto;
		}
	}

	div.addon {
		margin: 10px auto 0;
		position: static;
		text-align: center;

		form.search-form,
		form#searchform,
		.social-media {
			margin: 0 auto;
			width: 70%;
		}

		.social-media {
			margin-bottom: 15px;
			text-align: center;
		}

		.input-group {
			max-width: 100%;
		}
	}

	.header-bottom {
		border-bottom: 1px solid #eee;
	}

	/*
	 * Off Canvas
	 */
	.off_canvas_navigation {
		#off-canvas-toggle,
		.off-canvas {
			display: block;
		}
		
		a.mobile-toggle,
		nav.navigation {
			display: none;
		}
	}
	
	.toggle_navigation {
		#off-canvas-toggle,
		.off-canvas {
			display: none;
		}
		
		a.mobile-toggle {
			@include inline-block();
		}

		nav.navigation {
			display: none;
		}
	}

	// Is admin bar is present
	.admin-bar {
		.off-canvas {
			top: 32px;
		}
	}

	/*
	 * Navigation
	 */
	nav.navigation {
		float: none;
		text-align: center;
	}

	ul.navigation-menu {
		> li {
			border-right: 0;
			border-top: 1px solid rgba(#ddd, .4);
			display: block;
			float: none;
			margin-left: 0px;
						
			> a {
				line-height: 38px;
				padding: 0 12px;
				text-align: left;
				text-transform: uppercase;
			}

			ul.sub-menu {
				border: 0;
				margin: 0;
				position: relative;				
				width: auto;
				
				li {
					 ul.sub-menu {
						left: 0;
						position: relative;
						width: auto;
					}
				}
			}				
		}
	}
	
	/*
	 * Slides
	 */
	 .slide-caption {
	 		display: none;
	 }

	.flex-direction-nav {
		.flex-prev {
			display: none;
			opacity: 0;
			left: 10px;
		}
		.flex-next {
			display: none;
			opacity: 0;
			right: 10px;
		}
	}

	/*
	 * Galleries
	 */
	.gallery-columns-4 {
		.gallery-item {
			width: 50% !important;
		}
	}

}

/*
 * Small devices (tablets, 768px and below)
 * Change container width to 480px with 8 columns
 */
@include media($tablet) {

	/*
	 * Layout
	 */
	@include container-class() {
		@include outer-container( break(phone-medium) );
	}

	#container {
		@include boxed-layout( break(phone-medium) );
	}

	#featured {
		margin: 0 0 $padding;	
	}

	// Is admin bar is present
	.admin-bar {
		.off-canvas {
			top: 46px;
		}
	}

	/*
	 * Order columns
	 */
	#sidebar-layout {
		.sidebar-layout-inner {
			.grid-columns {
				box-orient: vertical;
				display: flex;
				flex-direction: column;
			}
		}
	}

	.content-area {
		order: 1;
	}
	
	.sidebar-wrapper {
		order: 2;
	}

	/*
	 * Footer
	 */
	.footer-inner {
		margin: $padding auto 0;
	}

	.footer-widget {
		.widget {
			margin: 0 0 $padding;
			width: 100%;
		}
	}

	/*
	 * Grid Columns
	 */
	.grid-columns {
		[class*="grid_"] {
			display: block;
			float: none;
			margin-right: 0;
			margin-bottom: $padding;
			width: 100%;
		}
	}

	/*
	 * Slides
	 */
	.flex-control-nav,
	.flex-pauseplay {
		display: none;
	}

	/*
	 * Galleries
	 */
	.gallery-columns-3 {
		.gallery-item {
			width: 50% !important;
		}

		br {
			clear: none !important
		}
	}

	/*
	 * Comments
	 */
	.comment-form {
		input.form-control {
			margin-right: 0;
			margin-bottom: 5px;
			width: 100%;
		}
	}

}