@import "framework";
@import "styles/buttons"; // need default theme buttons styles

// Place SKU below price
div.product-meta-wrapper {
	margin: 8px 0;
}

.latest-products {
	h2 {
		
	}
}

.woocommerce,
.woocommerce-page {
	
	// Products List
	ul.products {
		@include reset-list();
		
		li.product {
			@include woocommerce-product(
				$border: 1px solid #eee,
				$padding: 10px,
				$margin-bottom: 20px,
				$min-height: 0,
				$trans: false
			);

			border-radius: $border-radius;
			@include span-columns(4);
			
			&:nth-child(3n) {
				@include omega();
			}

			a {
				img {
					box-shadow: none;
					display: block;
					margin: 0 auto 10px;
					max-height: 200px;
					width: auto;
				}

				&:hover {
					img {
						box-shadow: none;
					}
				}
			}

			h3 {
				color: $base__font-color;
				font-size: $base__font-size;
				font-weight: 400;
				margin: 0 0 10px;
				padding: 0;
			}

			span.price {
				color: $color__1 !important;
				display: block;
				font-size: $base__font-size !important;
				font-weight: 400 !important;
				margin: 0 0 8px !important;
				text-align: center;

				del {
					color: rgba($color__1, .5);
					font-size: $base__font-size !important;
					@include inline-block();
				}
				
				ins {
					@include inline-block();
					text-decoration: none;
				}
				
			}

			.star-rating {
				display: none;
			}

			.button,
			.add_to_cart_button {
				background: $color__1;
				border: 0;
				box-shadow: none;
				color: #fff;
				display: block;
				font-size: 13px;
				font-weight: 400;
				margin: 0 auto;
				padding: 6px 5px;
				text-shadow: none;
				width: 75%;
				
				&:hover {
					background: darken($color__1, 8%);
					color: #fff;
				}
			}
			
			.onsale {
				top: 0;
				right: auto;
				left: 0;
				margin: -8px 0 0 -8px;
			}

			.latest-products & {
				@include span-columns(3);
				@include nth-child(4n, right);
			}

		} // li.product (end)

	} // ul.products (end)

	// On Sale Products
	span.onsale {
		background: #ddd;
		background-image: none;
		box-shadow: none;
		min-width: 32px;
		min-height: 32px;
		line-height: 32px;
		padding: 4px 5px;
		text-shadow: none;
	}
	
	// Related, Up Sells and Cross Sells
	div.related.products,
	div.upsells.products,
	div.cross-sells, {
		clear: both;

		h2 {
			font-size: $h3;
			font-weight: 700;
			margin: 0 0 15px;
		}

	}
	
	// Related and Upsells
	.related.products,
	.upsells.products {
		ul.products {
			li.product {
				@include span-columns(4);
				@include nth-child(3n, right);
			}
		}
	}

	// Cart collaterals
	.cart-collaterals {
		.cross-sells {
			li.product {
				@include span-columns(6);
				@include nth-child(2n, right);
			}
		}
	}
	
	// Product on single page
	div.product,
	#content div.product {

		// Single Images
		div.images {
			width: 36%;
			img {
				border: 1px solid #eee;
				box-shadow: none;
			}
		}

		// Summary
		div.summary {
			width: 60%;
		}

		// Tabs
		.woocommerce-tabs {

			ul.tabs {
				border: 0;
				margin: 0;
				padding: 0;
				
				&:before {
					border-bottom: 0;
				}

				li {
					background: #eee;
					border: 1px solid #ccc;
					border-bottom: 0;
					border-radius: 0;
					box-shadow: none;
					display: inline-block;
					margin: 0;
					
					&.active {
						background: #fff;
					}

					&:before {
						left: 0;
						border-bottom-right-radius: 0;
						border-width: 0;
						box-shadow: none;
					}

					&:after {
						border: 0;
						bottom: 0;
						width: 0;
						height: 0;
					}

					a {
						color: #888;
						text-shadow: none;
						&:hover {
							color: inherit;
						}
					}
				}
			}

			.panel {
				border: 1px solid #ccc;
				margin: 0 0 2em;
				padding: $padding;
			}
		} // .woocommerce-tabs (end)

		p.price,
		span.price {
			color: $color__1;
			font-size: 18px;
			font-weight: bold;
			margin: 15px 0;
			padding: 0;

			del {
				color: rgba($color__1, .5);
				font-size: 18px;
			}

			ins {
				text-decoration: none;
			}
		}

		div.summary {
			p.price,
			span.price {
				font-size: 24px;
				del {
					font-size: 24px;
				}
			}
		}

		form.cart {
			margin-top: 1em;
			margin-bottom: 1em;

			.button {
				background: $color__1;
				background-image: none;
				font-size: 1em;
				height: 40px;
				margin: 0;
				padding: 8px;
				text-shadow: none;

				&:hover {
					background: darken($color__1, 8%);
				}
			}

			div.quantity {
				margin: 0 10px 0 0;
				width: 125px;
			}

		}

		p.stock {
			font-size: $h4;
		}

		div.thumbnails {
			a {
				margin-bottom: 3.8%;
			}
		}

	} // div.product (end) //
	
	// Added to Cart
	a.added_to_cart {
		display: none;
	}

	// Buttons
	a.button,
	button.button,
	input.button,
	#respond input#submit,
	#content input.button {
		@extend .button;

		&:hover {
			background: darken($color__1, 5%);
			border-color: darken($color__1, 5%);
			color: #fff;
		}

		&.added:before {
			display: none;
			top: 0;
			color: #111;
			right: -24px;
			text-shadow: none;
		}

		&.loading:before {
			border-radius: 4px;
		}

		&.alt {
			background: $color__1;
			background: linear-gradient(left top, left bottom, #fe4304, #ce3501);
			border-color: $color__1;
			color: #ffffff;
		}

	}

	// Quanity Input
	.quantity,
	#content .quantity {
		.minus,
		.plus {
			background: #f0f0f0;
			border-right: 0;
			border-radius: 0;
			box-shadow: none;
			height: 40px;		
			float: left;
			position: static;
			top: 15px;
			width: 40px;

			&:hover {
				background: darken(#f0f0f0, 5%);
				background-image: none;
			}
		}

		.plus {
			border-bottom: 1px solid #c7c0c7;
			border-right: 1px solid #c7c0c7;
			border-left: 0;
		}

		input.qty {
			width: 40px;
			height: 40px;
			border-right: 1px solid #c7c0c7;
		}
	}

	// Cart items
	.cart_item {
		.quantity {
			margin: 0 !important;
			width: 80px !important;
			.minus,
			.plus {
				height: 20px !important;
				width: 20px !important;
			}

			input.qty {
				width: 30px !important;
				height: 20px !important;
			}
		}
	}

	// Messages
	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		background: #f9f9f9;
		background-image: none;
		box-shadow: none;
		border-radius: 0;
		border: {
			left: 1px solid #ddd;
			right: 1px solid #ddd;
			bottom: 1px solid #ddd;
		}

		&:before {
			height: auto;
		}

	}

	// Pagination
	nav.woocommerce-pagination,
	#content nav.woocommerce-pagination, {
		ul {
			display: block;
			border: 0;
			clear: both;
			font-size: 14px;
			line-height: 13px;
			margin: 0;
			padding: 10px 0;
			position: relative;		

			li {
				border: 0;

				a,
				span {
					background: #c3c3c3;
					border-right: 1px solid rgba(black, .1);
					color: #fff;
					display: block;
					float: left;
					padding: 8px 10px;
					text-decoration: none;
					width: auto;
				}
				
				a:focus,
				a:hover,
				span.current {
					background: $color__1;
					color: #fff;
				}

				a.next {
					border-right: 0;
					border-radius: 0 4px 4px 0;
				}

				&:first-child {
					a,
					span {
						border-radius: 4px 0 0 4px;
					}
				}

			}
		}
	}

	// Widgets
	ul.cart_list li,
	ul.product_list_widget li {
		ins {
			text-decoration: none;
		}
	}
		
	// Cart Variation
	td.product-name {
		dl.variation {
			dd p:last-child {
				margin: 0;
			}
		}
	}

	.variations_form {
		.variations {
			td.label {
				color: $color__text;
				font-size: config(font-size);
			}
		}
	}

	#reviews {
		h3 {
			margin-bottom: 5px;
		}

		#comments {
			ol.commentlist {
				padding-left: 0;
				li {
					img.avatar {
						width: 70px;
					}
					.comment-text {
						margin: 0 0 0 85px;
					}
				}
			}
		}
	}


} // .woocommerce (end) //

// Heading Tabs Panel
div.cart_totals h2,
form.shipping_calculator h2,
form.checkout h3 {
	font-size: 18px;
	margin: 0 0 10px;
}

// Variables Products
div.single_variation {
	margin-bottom: 10px; 
}

/*
 * Large Devices 992px - Change to 750px - 12
 */
@include media($laptop) {

	.woocommerce,
	.woocommerce-page {
		
		ul.products {
			li.product {

				clear: none;
				@include span-columns(6);

				&:nth-child(3n) {
					margin-right: flex-gutter();
				}

				&:nth-child(2n) {
					@include omega();
				}

				.home & {
					@include span-columns(3);
					@include nth-child(4n, right);

					&:nth-child(2n+1) {
						clear: none;
					}
				}

			}
		}

		.related.products,
		.upsells.products {
			ul.products {
				li.product {
					@include span-columns(6);
					@include nth-child(2n, right);
					@include omega-reset(3n, 6);
				}
			}
		}

		.cart-collaterals {
			.cross-sells {
				display: none;
			}
		}

	}

}

/*
 * Medium Mobile Devices 767px - Change to 480px - 8
 */
@include media($tablet) {
	
	.woocommerce,
	.woocommerce-page {
		
		// WC Products List
		ul.products {
			li.product {

				.home & {
					@include span-columns(4);			
					@include nth-child(2n, right);
				}
			}
		}
		
		div.product,
		#content div.product {
			div.images,
			div.summary {
				float: none;
				margin-right: 0;
				width: 100%;
			}
		}

		.woocommerce-result-count {
			float: none;
			text-align: center;
		}

		.woocommerce-ordering {
			float: none;

			select {
				width: 100%
			}
		}
	}

}

@include media($handheld) {

	.woocommerce,
	.woocommerce-page {
		
		ul.products {
			li.product {

				@include reset-float(right, true);

				.home & {
					@include reset-float(right, true);
				}
			}
		}

	}
}
