@import "bourbon";
@import "framework";
@import "neat";

div#menu-toc {
	z-index: 1;
}

.table-of-contents {
	background: #fff;
	border-radius: 4px 0 0 0;
	margin-bottom: 0px;

	h2 {
		margin: 0;
		padding: 15px;
		.fa {
			font-size: .8em;
		}
	}

	ul {
		@include reset-list();
		li {
			border-bottom: 1px solid #E9E9E9;

			&:first-child {
				border-top: 1px solid #E9E9E9;
			}

			&:last-child {
				border-bottom: 0;
			}

			a {
				color: color(primary);
				display: block;
				font-weight: bold;
				padding: 15px;

				&:hover {
					background: #F2F2F2;
				}
			}

		}
	}
}

.fl-menu {
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 0 1px rgba(#ddd, .6);
	overflow: hidden;

	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	> p {
		font-style: italic;
	}

	> .fl-excerpt {
		margin-bottom: 14px;
	}

}

article.fl-menu {
	border-radius: 0;
	box-shadow: none;
	overflow: auto;
}

.fl-menu-item {

	h3 {
		display: inline;
		margin-top: 0;
		margin-bottom: 10px;
	}

	> p {
		margin-top: 7px;
	}

	> .fl-excerpt {
		clear: both;
		color: #999;
		font-size: 12px;
		margin-bottom: 5px;
	}
	
}

.fl-menu-item-meta {
	float: none;
	font-size: 14px;
	font-weight: bold;
}

.fl-menu-section {
	background: #fff;
	border-radius: 4px 4px 0 0;
	margin-bottom: 0;
	padding: 0 20px 20px;

	> h2 {
		background: color(primary);
		color: #fff;
		margin: 0 -20px 15px;
		padding: 20px;

		a {
			color: #fff;
			float: right;
		}
	}

	ul {
		@include reset-list();
		margin-top: 20px;
		
		li {
			margin-bottom: $padding;
			@include span-columns(6);
			@include nth-child(2n, right);
		}
	}

	> p {
		font-style: italic;
	}

	> .fl-excerpt {
		margin-bottom: 14px;
	}

}

article.fl-menu-section {
	padding: 0;
}

div.fl-thumbnail {
	float: left;
	margin: 0 10px 20px 0;
	padding-right: 8px;
}

img.fl-menu-item-thumb {
	margin: 0 !important;
	float: none;
	padding-right: 0;
}


.fl-menu {
	+ a[href*="flprint"] {
		display: none;
	}
}

/*
 * Medium Mobile Devices 767px - Change to 480px - 8
 */
@include media($tablet) {

	.fl-menu-section {
		ul {		
			li {
				@include reset-float(right, true);
			}
		}
	}

}
