@import "framework";

// Login variables
$logo-width: 267px;
$logo-height: 99px;
$login-font-color: #2d2e2f;
$login-border-radius: 4px;
$login-form-background: #fff;
$login-form-border: 1px solid #BABABA;
$login-nav-link-color: color(base);
$login-nav-background: #f6f6f6;
$login-nav-border: 1px solid #bababa;
$login-width: 380px;

body {
	
	&.login {
		background: #eee;

		div#login {
			width: $login-width;
			
			// Logo
			h1 {
				a {
					background-image: url('../images/logo.png');
					background-size: $logo-width $logo-height;
					background-position: center top;
					background-repeat: no-repeat;
					color: color(base);
					height: $logo-height;
					font-size: $padding;
					font-weight: normal;
					line-height: 1.3em;
					margin: 0 auto 15px;
					padding: 0;
					text-decoration: none;
					width: $logo-width;
					text-indent: -9999px;
					outline: none;
					overflow: hidden;
					display: block;
				}
			}

			form#loginform {
				background: $login-form-background;
				border: $login-form-border;
				border-radius: 6px 6px 0 0;
				box-shadow: none;

				p {

					label {
						color: #333;
					}

					&.forgetmenot {
						font-weight: 700;
						float: left;
						margin-bottom: 0;
					}
				}
			}

			p#nav {
				background: $login-nav-background;
				border: $login-nav-border;
				border-top: 0;
				border-radius: 0 0 6px 6px;
				margin: 0;
				padding: 10px 0;
				a {
					color: $login-nav-link-color;
					font-weight: bold;
				}
			}

			p#backtoblog,
			p#nav {
				text-align: center;
				a {
					color: color(base);
					&:hover {
						color: saturate(color(primary), 5%);
					}
				}
			}
		}
	}
}

.login {
	input[type="text"],
	input[type="password"] {
		border-radius: $login-border-radius;
	}
}

#login-footer {
	margin: auto;
	padding-top: 20px;
	width: $login-width;
}

#login-credits {
	color: $login-font-color;
	font-weight: normal;
	text-align: center;
	a {
		color: color(base);
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: saturate(color(primary), 5%);
		}
	}
}

// Buttons
// ------------------------------
.wp-core-ui {
	.button-primary {
		background: color(primary);
		border-color: darken(color(primary), 8%);
		box-shadow: none;
		color: #fff;
		text-decoration: none;
		text-shadow: none;

		&.focus,
		&.hover,
		&:focus,
		&:hover {
			background: darken(color(primary),5%);
			border-color: darken(color(primary), 8%);
			box-shadow: none;
			color: #fff;
			text-shadow: none;
		}
	}

	.button-group.button-large .button,
	.button.button-large {
		height: auto;
		font-weight: bold;
		line-height: normal;
		padding: 10px 15px;
	}
}