@import "framework";

.fl-menu-toc {
	background-color: #FFF;
	border: 1px solid rgba(#ddd, 0.4);
	border-top: 4px solid #111;
	margin-bottom: $padding*2;
	position: relative;
	z-index: 1;

	&__heading {
		margin: 0;
		font-weight: 400;
		letter-spacing: 1px;
		padding: 15px;
		text-transform: uppercase;
	}

	i {
		color: $color__primary;
		font-size: inherit;
	}

	&__list {
		@include reset-list();
		background-color: $color__primary;
	}

	&__item {
		border-top: 1px solid rgba(white, 0.1);
		text-transform: uppercase;

		&:last-child {
			border-bottom: 1px solid rgba(white, 0.1);
		}
	}

	&__link {
		color: #fff;
		display: block;
		padding: 15px;
		transition: background-color 0.4s ease;

		&:hover {
			color: #fff;
			background-color: rgba(white, 0.2);
		}
	}
}

.fl-menu {
	
	&:not(.hentry) {
		border: 1px solid rgba(#ddd, 0.4);
		border-radius: 4px 4px 0 0;
		overflow: hidden;
	}

	&__heading {
		letter-spacing: 1px;
		margin-bottom: 20px;
		padding: 20px 20px 0;
		text-transform: uppercase;
	}

	&__list {
		padding-left: 0;
	}

	&__section {
		list-style: none;
	}

	+ a[href*="flprint"] {
		display: none;
	}
}

.fl-menu-section {
	
	&:not(.hentry) {
		background-color: #fff;
		border-radius: 0;
		margin-bottom: 0;
		padding: 0 20px 20px;
	}

	&__heading {
		background-color: $color__primary--black;
		color: #fff;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 0 -20px 15px;
		padding: 20px;
		text-transform: uppercase;
	}

	&__up {
		color: #fff;
		float: right;
	}

	&__list {
		@include reset-list();
		margin-top: 20px;
	}

	&__item {
		margin-bottom: $padding;
		
		@include media($laptop--min) {
			@include span-columns(6);
			@include nth-child(2n, right);
		}
	}
}

.fl-menu-item {

	&__heading {
		margin: 0 0 15px;
	}

	&__excerpt {
		color: #777;
		font-size: 14px;
		margin-bottom: 15px;
	}

	&__content {
		position: relative;
		overflow: hidden;
	}
	
	&__meta {
		font-size: 14px;
		font-weight: 700;
	}

	&__thumbnail {
		float: left;
		margin: 0 $padding $padding 0;

		@include media($handheld) {
			display: none;
		}
	}
}

.fl-excerpt {
	color: #777;
	margin-bottom: 15px;

	&--menu {
		padding: 0 20px;
		margin-bottom: 20px;
	}
}

.fl-menu-item-thumb {
	border-radius: 50%;
	float: none;
	margin: 0;
}
