@import "framework";

/*
 * Medium devices (desktops, 992px and below)
 * Change container width to 750px with 12 columns
 */
@include media($laptop) {

	// Is admin bar is present
	.admin-bar {
		.off-canvas {
			top: 32px;
		}
	}

	/*
	 * Navigation
	 */
	
	
	/*
	 * Slides
	 */
	 .slide-caption {
	 	display: none;
	 }

	.flex-direction-nav {
		.flex-prev {
			display: none;
			opacity: 0;
			left: 10px;
		}
		.flex-next {
			display: none;
			opacity: 0;
			right: 10px;
		}
	}

	/*
	 * Galleries
	 */
	.gallery-columns-4 {
		.gallery-item {
			width: 50% !important;
		}
	}

}

/*
 * Small devices (tablets, 768px and below)
 * Change container width to 480px with 8 columns
 */
@include media($tablet) {


	// Is admin bar is present
	.admin-bar {
		.off-canvas {
			top: 46px;
		}
	}

	/*
	 * Order columns
	 */
	.sidebar-layout {
		.sidebar-layout-inner {
			.grid-columns {
				box-orient: vertical;
				display: flex;
				flex-direction: column;
			}
		}
	}

	.content-area {
		order: 1;
	}
	
	.sidebar-wrapper {
		order: 2;
	}

	/*
	 * Slides
	 */
	.flex-control-nav,
	.flex-pauseplay {
		display: none;
	}

	/*
	 * Galleries
	 */
	.gallery-columns-3 {
		.gallery-item {
			width: 50% !important;
		}

		br {
			clear: none !important
		}
	}

	/*
	 * Comments
	 */
	.comment-form {
		input.form-control {
			margin-right: 0;
			margin-bottom: 5px;
			width: 100%;
		}
	}

}
