.fl-menu-toc {
  background-color: #FFF;
  border: 1px solid rgba(221, 221, 221, 0.4);
  border-top: 4px solid #111;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.fl-menu-toc__heading {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 15px;
  text-transform: uppercase;
}

.fl-menu-toc i {
  color: #267DF4;
  font-size: inherit;
}

.fl-menu-toc__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background-color: #267DF4;
}

.fl-menu-toc__item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
}

.fl-menu-toc__item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.fl-menu-toc__link {
  color: #fff;
  display: block;
  padding: 15px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.fl-menu-toc__link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.fl-menu:not(.hentry) {
  border: 1px solid rgba(221, 221, 221, 0.4);
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.fl-menu__heading {
  letter-spacing: 1px;
  margin-bottom: 20px;
  padding: 20px 20px 0;
  text-transform: uppercase;
}

.fl-menu__list {
  padding-left: 0;
}

.fl-menu__section {
  list-style: none;
}

.fl-menu + a[href*="flprint"] {
  display: none;
}

.fl-menu-section:not(.hentry) {
  background-color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-bottom: 0;
  padding: 0 20px 20px;
}

.fl-menu-section__heading {
  background-color: #111111;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 -20px 15px;
  padding: 20px;
  text-transform: uppercase;
}

.fl-menu-section__up {
  color: #fff;
  float: right;
}

.fl-menu-section__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 20px;
}

.fl-menu-section__item {
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .fl-menu-section__item {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
  }
  .fl-menu-section__item:last-child {
    margin-right: 0;
  }
  .fl-menu-section__item:nth-child(2n) {
    margin-right: 0;
  }
  .fl-menu-section__item:nth-child(2n+1) {
    clear: left;
  }
}

.fl-menu-item__heading {
  margin: 0 0 15px;
}

.fl-menu-item__excerpt {
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
}

.fl-menu-item__content {
  position: relative;
  overflow: hidden;
}

.fl-menu-item__meta {
  font-size: 14px;
  font-weight: 700;
}

.fl-menu-item__thumbnail {
  float: left;
  margin: 0 20px 20px 0;
}

@media screen and (max-width: 480px) {
  .fl-menu-item__thumbnail {
    display: none;
  }
}

.fl-excerpt {
  color: #777;
  margin-bottom: 15px;
}

.fl-excerpt--menu {
  padding: 0 20px;
  margin-bottom: 20px;
}

.fl-menu-item-thumb {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  float: none;
  margin: 0;
}
