div#menu-toc {
  z-index: 1;
}

.table-of-contents {
  background: #fff;
  -webkit-border-radius: 4px 0 0 0;
          border-radius: 4px 0 0 0;
  margin-bottom: 0px;
}

.table-of-contents h2 {
  margin: 0;
  padding: 15px;
}

.table-of-contents h2 .fa {
  font-size: .8em;
}

.table-of-contents ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.table-of-contents ul li {
  border-bottom: 1px solid #E9E9E9;
}

.table-of-contents ul li:first-child {
  border-top: 1px solid #E9E9E9;
}

.table-of-contents ul li:last-child {
  border-bottom: 0;
}

.table-of-contents ul li a {
  color: #267DF4;
  display: block;
  font-weight: bold;
  padding: 15px;
}

.table-of-contents ul li a:hover {
  background: #F2F2F2;
}

.fl-menu {
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 0 0 1px rgba(221, 221, 221, 0.6);
          box-shadow: 0 0 0 1px rgba(221, 221, 221, 0.6);
  overflow: hidden;
}

.fl-menu ul {
  padding-left: 0;
}

.fl-menu li {
  list-style: none;
}

.fl-menu > p {
  font-style: italic;
}

.fl-menu > .fl-excerpt {
  margin-bottom: 14px;
}

article.fl-menu {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: auto;
}

.fl-menu-item h3 {
  display: inline;
  margin-top: 0;
  margin-bottom: 10px;
}

.fl-menu-item > p {
  margin-top: 7px;
}

.fl-menu-item > .fl-excerpt {
  clear: both;
  color: #999;
  font-size: 12px;
  margin-bottom: 5px;
}

.fl-menu-item-meta {
  float: none;
  font-size: 14px;
  font-weight: bold;
}

.fl-menu-section {
  background: #fff;
  -webkit-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  padding: 0 20px 20px;
}

.fl-menu-section > h2 {
  background: #267DF4;
  color: #fff;
  margin: 0 -20px 15px;
  padding: 20px;
}

.fl-menu-section > h2 a {
  color: #fff;
  float: right;
}

.fl-menu-section ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 20px;
}

.fl-menu-section ul li {
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%;
}

.fl-menu-section ul li:last-child {
  margin-right: 0;
}

.fl-menu-section ul li:nth-child(2n) {
  margin-right: 0;
}

.fl-menu-section ul li:nth-child(2n+1) {
  clear: left;
}

.fl-menu-section > p {
  font-style: italic;
}

.fl-menu-section > .fl-excerpt {
  margin-bottom: 14px;
}

article.fl-menu-section {
  padding: 0;
}

div.fl-thumbnail {
  float: left;
  margin: 0 10px 20px 0;
  padding-right: 8px;
}

img.fl-menu-item-thumb {
  margin: 0 !important;
  float: none;
  padding-right: 0;
}

.fl-menu + a[href*="flprint"] {
  display: none;
}

/*
 * Medium Mobile Devices 767px - Change to 480px - 8
 */
@media screen and (max-width: 768px) {
  .fl-menu-section ul li {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
