body.login {
  background: #eee;
}

body.login div#login {
  width: 380px;
}

body.login div#login h1 a {
  background-image: url("../images/logo.png");
  background-size: 267px 99px;
  background-position: center top;
  background-repeat: no-repeat;
  color: #333333;
  height: 99px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 auto 15px;
  padding: 0;
  text-decoration: none;
  width: 267px;
  text-indent: -9999px;
  outline: none;
  overflow: hidden;
  display: block;
}

body.login div#login form#loginform {
  background: #fff;
  border: 1px solid #BABABA;
  -webkit-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.login div#login form#loginform p label {
  color: #333;
}

body.login div#login form#loginform p.forgetmenot {
  font-weight: 700;
  float: left;
  margin-bottom: 0;
}

body.login div#login p#nav {
  background: #f6f6f6;
  border: 1px solid #bababa;
  border-top: 0;
  -webkit-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  margin: 0;
  padding: 10px 0;
}

body.login div#login p#nav a {
  color: #333333;
  font-weight: bold;
}

body.login div#login p#backtoblog,
body.login div#login p#nav {
  text-align: center;
}

body.login div#login p#backtoblog a,
body.login div#login p#nav a {
  color: #333333;
}

body.login div#login p#backtoblog a:hover,
body.login div#login p#nav a:hover {
  color: #207cfa;
}

.login input[type="text"],
.login input[type="password"] {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

#login-footer {
  margin: auto;
  padding-top: 20px;
  width: 380px;
}

#login-credits {
  color: #2d2e2f;
  font-weight: normal;
  text-align: center;
}

#login-credits a {
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}

#login-credits a:hover {
  color: #207cfa;
}

.wp-core-ui .button-primary {
  background: #267DF4;
  border-color: #0c68e6;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  background: #0e6ef3;
  border-color: #0c68e6;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  text-shadow: none;
}

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
  height: auto;
  font-weight: bold;
  line-height: normal;
  padding: 10px 15px;
}
