/*
 * Default Button Styles
 */
.button {
  background-color: #00A0D2;
  background-image: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40px;
  height: 40px;
  margin: 5px;
  padding: 0 22px;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  position: relative;
  outline: none;
  border: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.button:hover {
  background-color: #111111;
  border-color: #111111;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button--rounded {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.button--3d {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: none;
  transition: none;
}

.button--3d:hover {
  opacity: 0.9;
}

.button--mini {
  font-size: 11px;
  height: 28px;
  line-height: 28px;
  padding: 0 14px;
}

.button--small {
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  padding: 0 17px;
}

.button--large {
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  padding: 0 26px;
}

.button--read-more {
  margin: 0;
}

body.woocommerce-demo-store {
  margin-top: 49px;
}

.woocommerce ul.products,
.woocommerce-page ul.products {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  border: 1px solid #f5f5f5;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 15px;
  position: relative;
}
