/*
 * Default Button Styles
 */
.button, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
a.button,
.woocommerce a.button,
.woocommerce-page a.button,
button.button,
.woocommerce button.button,
.woocommerce-page button.button,
input.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ccc;
  color: #333;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background .1s linear;
  transition: background .1s linear;
  -webkit-font-smoothing: antialiased;
}

.button:hover, .woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
a.button:hover,
button.button:hover,
input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #ebebeb;
  border-color: #adadad;
  color: #333333;
}

.btn-primary {
  background-color: #267DF4;
  background-image: none;
  border-color: #0c68e6;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0b63dc;
  border-color: #0c68e6;
  color: #fff;
}

div.product-meta-wrapper {
  margin: 8px 0;
}

.woocommerce ul.products,
.woocommerce-page ul.products {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  min-height: 0;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}

.woocommerce ul.products li.product:last-child,
.woocommerce-page ul.products li.product:last-child {
  margin-right: 0;
}

.woocommerce ul.products li.product:nth-child(3n),
.woocommerce-page ul.products li.product:nth-child(3n) {
  margin-right: 0;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  margin: 0 auto 10px;
  max-height: 200px;
  width: auto;
}

.woocommerce ul.products li.product a:hover img,
.woocommerce-page ul.products li.product a:hover img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 0;
}

.woocommerce ul.products li.product span.price,
.woocommerce-page ul.products li.product span.price {
  color: #267DF4 !important;
  display: block;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin: 0 0 8px !important;
  text-align: center;
}

.woocommerce ul.products li.product span.price del,
.woocommerce-page ul.products li.product span.price del {
  color: rgba(38, 125, 244, 0.5);
  font-size: 14px !important;
  display: inline-block;
}

.woocommerce ul.products li.product span.price ins,
.woocommerce-page ul.products li.product span.price ins {
  display: inline-block;
  text-decoration: none;
}

.woocommerce ul.products li.product .star-rating,
.woocommerce-page ul.products li.product .star-rating {
  display: none;
}

.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product #respond input#submit,
.woocommerce #respond ul.products li.product input#submit,
.woocommerce ul.products li.product #content input.button,
.woocommerce #content ul.products li.product input.button,
.woocommerce-page #respond .woocommerce ul.products li.product input#submit,
.woocommerce-page #content .woocommerce ul.products li.product input.button,
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce-page ul.products li.product .button,
.woocommerce #respond
.woocommerce-page ul.products li.product input#submit,
.woocommerce #content
.woocommerce-page ul.products li.product input.button,
.woocommerce-page ul.products li.product #respond input#submit,
.woocommerce-page #respond ul.products li.product input#submit,
.woocommerce-page ul.products li.product #content input.button,
.woocommerce-page #content ul.products li.product input.button,
.woocommerce-page ul.products li.product .add_to_cart_button {
  background: #267DF4;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin: 0 auto;
  padding: 6px 5px;
  text-shadow: none;
  width: 75%;
}

.woocommerce ul.products li.product .button:hover,
.woocommerce ul.products li.product #respond input#submit:hover,
.woocommerce #respond ul.products li.product input#submit:hover,
.woocommerce ul.products li.product #content input.button:hover,
.woocommerce #content ul.products li.product input.button:hover,
.woocommerce-page #respond .woocommerce ul.products li.product input#submit:hover,
.woocommerce-page #content .woocommerce ul.products li.product input.button:hover,
.woocommerce ul.products li.product .add_to_cart_button:hover,
.woocommerce-page ul.products li.product .button:hover,
.woocommerce #respond
.woocommerce-page ul.products li.product input#submit:hover,
.woocommerce #content
.woocommerce-page ul.products li.product input.button:hover,
.woocommerce-page ul.products li.product #respond input#submit:hover,
.woocommerce-page #respond ul.products li.product input#submit:hover,
.woocommerce-page ul.products li.product #content input.button:hover,
.woocommerce-page #content ul.products li.product input.button:hover,
.woocommerce-page ul.products li.product .add_to_cart_button:hover {
  background: #0c68e6;
  color: #fff;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
  top: 0;
  right: auto;
  left: 0;
  margin: -8px 0 0 -8px;
}

.latest-products .woocommerce ul.products li.product, .latest-products
.woocommerce-page ul.products li.product {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
}

.latest-products .woocommerce ul.products li.product:last-child, .latest-products
.woocommerce-page ul.products li.product:last-child {
  margin-right: 0;
}

.latest-products .woocommerce ul.products li.product:nth-child(4n), .latest-products
.woocommerce-page ul.products li.product:nth-child(4n) {
  margin-right: 0;
}

.latest-products .woocommerce ul.products li.product:nth-child(4n+1), .latest-products
.woocommerce-page ul.products li.product:nth-child(4n+1) {
  clear: left;
}

.woocommerce span.onsale,
.woocommerce-page span.onsale {
  background: #ddd;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-width: 32px;
  min-height: 32px;
  line-height: 32px;
  padding: 4px 5px;
  text-shadow: none;
}

.woocommerce div.related.products,
.woocommerce div.upsells.products,
.woocommerce div.cross-sells,
.woocommerce-page div.related.products,
.woocommerce-page div.upsells.products,
.woocommerce-page div.cross-sells {
  clear: both;
}

.woocommerce div.related.products h2,
.woocommerce div.upsells.products h2,
.woocommerce div.cross-sells h2,
.woocommerce-page div.related.products h2,
.woocommerce-page div.upsells.products h2,
.woocommerce-page div.cross-sells h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 15px;
}

.woocommerce .related.products ul.products li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related.products ul.products li.product,
.woocommerce-page .upsells.products ul.products li.product {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}

.woocommerce .related.products ul.products li.product:last-child,
.woocommerce .upsells.products ul.products li.product:last-child,
.woocommerce-page .related.products ul.products li.product:last-child,
.woocommerce-page .upsells.products ul.products li.product:last-child {
  margin-right: 0;
}

.woocommerce .related.products ul.products li.product:nth-child(3n),
.woocommerce .upsells.products ul.products li.product:nth-child(3n),
.woocommerce-page .related.products ul.products li.product:nth-child(3n),
.woocommerce-page .upsells.products ul.products li.product:nth-child(3n) {
  margin-right: 0;
}

.woocommerce .related.products ul.products li.product:nth-child(3n+1),
.woocommerce .upsells.products ul.products li.product:nth-child(3n+1),
.woocommerce-page .related.products ul.products li.product:nth-child(3n+1),
.woocommerce-page .upsells.products ul.products li.product:nth-child(3n+1) {
  clear: left;
}

.woocommerce .cart-collaterals .cross-sells li.product,
.woocommerce-page .cart-collaterals .cross-sells li.product {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%;
}

.woocommerce .cart-collaterals .cross-sells li.product:last-child,
.woocommerce-page .cart-collaterals .cross-sells li.product:last-child {
  margin-right: 0;
}

.woocommerce .cart-collaterals .cross-sells li.product:nth-child(2n),
.woocommerce-page .cart-collaterals .cross-sells li.product:nth-child(2n) {
  margin-right: 0;
}

.woocommerce .cart-collaterals .cross-sells li.product:nth-child(2n+1),
.woocommerce-page .cart-collaterals .cross-sells li.product:nth-child(2n+1) {
  clear: left;
}

.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
  width: 36%;
}

.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img {
  border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary {
  width: 60%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
  border: 0;
  margin: 0;
  padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
  border-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  margin: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
  background: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before {
  left: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  border-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
  border: 0;
  bottom: 0;
  width: 0;
  height: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
  color: #888;
  text-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
  color: inherit;
}

.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
  border: 1px solid #ccc;
  margin: 0 0 2em;
  padding: 20px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price {
  color: #267DF4;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  padding: 0;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.woocommerce #content div.product p.price del,
.woocommerce #content div.product span.price del,
.woocommerce-page div.product p.price del,
.woocommerce-page div.product span.price del,
.woocommerce-page #content div.product p.price del,
.woocommerce-page #content div.product span.price del {
  color: rgba(38, 125, 244, 0.5);
  font-size: 18px;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce #content div.product p.price ins,
.woocommerce #content div.product span.price ins,
.woocommerce-page div.product p.price ins,
.woocommerce-page div.product span.price ins,
.woocommerce-page #content div.product p.price ins,
.woocommerce-page #content div.product span.price ins {
  text-decoration: none;
}

.woocommerce div.product div.summary p.price,
.woocommerce div.product div.summary span.price,
.woocommerce #content div.product div.summary p.price,
.woocommerce #content div.product div.summary span.price,
.woocommerce-page div.product div.summary p.price,
.woocommerce-page div.product div.summary span.price,
.woocommerce-page #content div.product div.summary p.price,
.woocommerce-page #content div.product div.summary span.price {
  font-size: 24px;
}

.woocommerce div.product div.summary p.price del,
.woocommerce div.product div.summary span.price del,
.woocommerce #content div.product div.summary p.price del,
.woocommerce #content div.product div.summary span.price del,
.woocommerce-page div.product div.summary p.price del,
.woocommerce-page div.product div.summary span.price del,
.woocommerce-page #content div.product div.summary p.price del,
.woocommerce-page #content div.product div.summary span.price del {
  font-size: 24px;
}

.woocommerce div.product form.cart,
.woocommerce #content div.product form.cart,
.woocommerce-page div.product form.cart,
.woocommerce-page #content div.product form.cart {
  margin-top: 1em;
  margin-bottom: 1em;
}

.woocommerce div.product form.cart .button,
.woocommerce div.product form.cart #respond input#submit,
.woocommerce #respond div.product form.cart input#submit,
.woocommerce div.product form.cart #content input.button,
.woocommerce #content div.product form.cart input.button,
.woocommerce-page #respond .woocommerce div.product form.cart input#submit,
.woocommerce-page #content .woocommerce div.product form.cart input.button,
.woocommerce #content div.product form.cart .button,
.woocommerce #content div.product form.cart #respond input#submit,
.woocommerce #respond #content div.product form.cart input#submit,
.woocommerce-page #respond
.woocommerce #content div.product form.cart input#submit,
.woocommerce-page div.product form.cart .button,
.woocommerce-page div.product form.cart .woocommerce a.button, .woocommerce
.woocommerce-page div.product form.cart a.button,
.woocommerce-page div.product form.cart
.woocommerce button.button,
.woocommerce
.woocommerce-page div.product form.cart button.button,
.woocommerce-page div.product form.cart
.woocommerce input.button,
.woocommerce
.woocommerce-page div.product form.cart input.button,
.woocommerce #respond
.woocommerce-page div.product form.cart input#submit,
.woocommerce #content
.woocommerce-page div.product form.cart input.button,
.woocommerce-page div.product form.cart a.button,
.woocommerce-page div.product form.cart button.button,
.woocommerce-page div.product form.cart input.button,
.woocommerce-page div.product form.cart #respond input#submit,
.woocommerce-page #respond div.product form.cart input#submit,
.woocommerce-page div.product form.cart #content input.button,
.woocommerce-page #content div.product form.cart input.button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce #respond
.woocommerce-page #content div.product form.cart input#submit,
.woocommerce-page #content div.product form.cart #respond input#submit,
.woocommerce-page #respond #content div.product form.cart input#submit {
  background: #267DF4;
  background-image: none;
  font-size: 1em;
  height: 40px;
  margin: 0;
  padding: 8px;
  text-shadow: none;
}

.woocommerce div.product form.cart .button:hover,
.woocommerce div.product form.cart #respond input#submit:hover,
.woocommerce #respond div.product form.cart input#submit:hover,
.woocommerce div.product form.cart #content input.button:hover,
.woocommerce #content div.product form.cart input.button:hover,
.woocommerce-page #respond .woocommerce div.product form.cart input#submit:hover,
.woocommerce-page #content .woocommerce div.product form.cart input.button:hover,
.woocommerce #content div.product form.cart .button:hover,
.woocommerce #content div.product form.cart #respond input#submit:hover,
.woocommerce #respond #content div.product form.cart input#submit:hover,
.woocommerce-page #respond
.woocommerce #content div.product form.cart input#submit:hover,
.woocommerce-page div.product form.cart .button:hover,
.woocommerce #respond
.woocommerce-page div.product form.cart input#submit:hover,
.woocommerce #content
.woocommerce-page div.product form.cart input.button:hover,
.woocommerce-page div.product form.cart #respond input#submit:hover,
.woocommerce-page #respond div.product form.cart input#submit:hover,
.woocommerce-page div.product form.cart #content input.button:hover,
.woocommerce-page #content div.product form.cart input.button:hover,
.woocommerce-page #content div.product form.cart .button:hover,
.woocommerce #respond
.woocommerce-page #content div.product form.cart input#submit:hover,
.woocommerce-page #content div.product form.cart #respond input#submit:hover,
.woocommerce-page #respond #content div.product form.cart input#submit:hover {
  background: #0c68e6;
}

.woocommerce div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity {
  margin: 0 10px 0 0;
  width: 125px;
}

.woocommerce div.product p.stock,
.woocommerce #content div.product p.stock,
.woocommerce-page div.product p.stock,
.woocommerce-page #content div.product p.stock {
  font-size: 14px;
}

.woocommerce div.product div.thumbnails a,
.woocommerce #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a {
  margin-bottom: 3.8%;
}

.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
  display: none;
}

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #respond
.woocommerce input#submit:hover,
.woocommerce-page #content
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content #respond input#submit:hover,
.woocommerce #respond #content input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #respond
.woocommerce #content input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce #respond
.woocommerce-page input#submit:hover,
.woocommerce #content
.woocommerce-page input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce #respond
.woocommerce-page #content input#submit:hover,
.woocommerce-page #content #respond input#submit:hover,
.woocommerce-page #respond #content input#submit:hover,
.woocommerce-page #content input.button:hover {
  background: #0e6ef3;
  border-color: #0e6ef3;
  color: #fff;
}

.woocommerce a.added.button:before,
.woocommerce button.added.button:before,
.woocommerce input.added.button:before,
.woocommerce #respond input.added#submit:before,
.woocommerce #content input.added.button:before,
.woocommerce-page #respond
.woocommerce input.added#submit:before,
.woocommerce-page #content
.woocommerce input.added.button:before,
.woocommerce #respond input#submit.added:before,
.woocommerce #content #respond input.added#submit:before,
.woocommerce #respond #content input.added#submit:before,
.woocommerce #content input.added.button:before,
.woocommerce-page #respond
.woocommerce #content input.added#submit:before,
.woocommerce-page a.added.button:before,
.woocommerce-page button.added.button:before,
.woocommerce #respond
.woocommerce-page input.added#submit:before,
.woocommerce #content
.woocommerce-page input.added.button:before,
.woocommerce-page input.added.button:before,
.woocommerce-page #respond input.added#submit:before,
.woocommerce-page #content input.added.button:before,
.woocommerce-page #respond input#submit.added:before,
.woocommerce #respond
.woocommerce-page #content input.added#submit:before,
.woocommerce-page #content #respond input.added#submit:before,
.woocommerce-page #respond #content input.added#submit:before,
.woocommerce-page #content input.added.button:before {
  display: none;
  top: 0;
  color: #111;
  right: -24px;
  text-shadow: none;
}

.woocommerce a.loading.button:before,
.woocommerce button.loading.button:before,
.woocommerce input.loading.button:before,
.woocommerce #respond input.loading#submit:before,
.woocommerce #content input.loading.button:before,
.woocommerce-page #respond
.woocommerce input.loading#submit:before,
.woocommerce-page #content
.woocommerce input.loading.button:before,
.woocommerce #respond input#submit.loading:before,
.woocommerce #content #respond input.loading#submit:before,
.woocommerce #respond #content input.loading#submit:before,
.woocommerce #content input.loading.button:before,
.woocommerce-page #respond
.woocommerce #content input.loading#submit:before,
.woocommerce-page a.loading.button:before,
.woocommerce-page button.loading.button:before,
.woocommerce #respond
.woocommerce-page input.loading#submit:before,
.woocommerce #content
.woocommerce-page input.loading.button:before,
.woocommerce-page input.loading.button:before,
.woocommerce-page #respond input.loading#submit:before,
.woocommerce-page #content input.loading.button:before,
.woocommerce-page #respond input#submit.loading:before,
.woocommerce #respond
.woocommerce-page #content input.loading#submit:before,
.woocommerce-page #content #respond input.loading#submit:before,
.woocommerce-page #respond #content input.loading#submit:before,
.woocommerce-page #content input.loading.button:before {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.woocommerce a.alt.button,
.woocommerce button.alt.button,
.woocommerce input.alt.button,
.woocommerce #respond input.alt#submit,
.woocommerce #content input.alt.button,
.woocommerce-page #respond
.woocommerce input.alt#submit,
.woocommerce-page #content
.woocommerce input.alt.button,
.woocommerce #respond input#submit.alt,
.woocommerce #content #respond input.alt#submit,
.woocommerce #respond #content input.alt#submit,
.woocommerce #content input.alt.button,
.woocommerce-page #respond
.woocommerce #content input.alt#submit,
.woocommerce-page a.alt.button,
.woocommerce-page button.alt.button,
.woocommerce #respond
.woocommerce-page input.alt#submit,
.woocommerce #content
.woocommerce-page input.alt.button,
.woocommerce-page input.alt.button,
.woocommerce-page #respond input.alt#submit,
.woocommerce-page #content input.alt.button,
.woocommerce-page #respond input#submit.alt,
.woocommerce #respond
.woocommerce-page #content input.alt#submit,
.woocommerce-page #content #respond input.alt#submit,
.woocommerce-page #respond #content input.alt#submit,
.woocommerce-page #content input.alt.button {
  background: #267DF4;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(bottom, left), color-stop(bottom, #fe4304), color-stop(bottom, #ce3501));
  background: -webkit-linear-gradient(left top, left bottom, #fe4304, #ce3501);
  background: linear-gradient(left top, left bottom, #fe4304, #ce3501);
  border-color: #267DF4;
  color: #ffffff;
}

.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus {
  background: #f0f0f0;
  border-right: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  float: left;
  position: static;
  top: 15px;
  width: 40px;
}

.woocommerce .quantity .minus:hover,
.woocommerce .quantity .plus:hover,
.woocommerce #content .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover,
.woocommerce-page #content .quantity .plus:hover {
  background: #e3e3e3;
  background-image: none;
}

.woocommerce .quantity .plus,
.woocommerce #content .quantity .plus,
.woocommerce-page .quantity .plus,
.woocommerce-page #content .quantity .plus {
  border-bottom: 1px solid #c7c0c7;
  border-right: 1px solid #c7c0c7;
  border-left: 0;
}

.woocommerce .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce-page #content .quantity input.qty {
  width: 40px;
  height: 40px;
  border-right: 1px solid #c7c0c7;
}

.woocommerce .cart_item .quantity,
.woocommerce-page .cart_item .quantity {
  margin: 0 !important;
  width: 80px !important;
}

.woocommerce .cart_item .quantity .minus,
.woocommerce .cart_item .quantity .plus,
.woocommerce-page .cart_item .quantity .minus,
.woocommerce-page .cart_item .quantity .plus {
  height: 20px !important;
  width: 20px !important;
}

.woocommerce .cart_item .quantity input.qty,
.woocommerce-page .cart_item .quantity input.qty {
  width: 30px !important;
  height: 20px !important;
}

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
  background: #f9f9f9;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page .woocommerce-message:before {
  height: auto;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul {
  display: block;
  border: 0;
  clear: both;
  font-size: 14px;
  line-height: 13px;
  margin: 0;
  padding: 10px 0;
  position: relative;
}

.woocommerce nav.woocommerce-pagination ul li,
.woocommerce #content nav.woocommerce-pagination ul li,
.woocommerce-page nav.woocommerce-pagination ul li,
.woocommerce-page #content nav.woocommerce-pagination ul li {
  border: 0;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce #content nav.woocommerce-pagination ul li a,
.woocommerce #content nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span,
.woocommerce-page #content nav.woocommerce-pagination ul li a,
.woocommerce-page #content nav.woocommerce-pagination ul li span {
  background: #c3c3c3;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  display: block;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
  width: auto;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce #content nav.woocommerce-pagination ul li a:focus,
.woocommerce #content nav.woocommerce-pagination ul li a:hover,
.woocommerce #content nav.woocommerce-pagination ul li span.current,
.woocommerce-page nav.woocommerce-pagination ul li a:focus,
.woocommerce-page nav.woocommerce-pagination ul li a:hover,
.woocommerce-page nav.woocommerce-pagination ul li span.current,
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,
.woocommerce-page #content nav.woocommerce-pagination ul li span.current {
  background: #267DF4;
  color: #fff;
}

.woocommerce nav.woocommerce-pagination ul li a.next,
.woocommerce #content nav.woocommerce-pagination ul li a.next,
.woocommerce-page nav.woocommerce-pagination ul li a.next,
.woocommerce-page #content nav.woocommerce-pagination ul li a.next {
  border-right: 0;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.woocommerce nav.woocommerce-pagination ul li:first-child a,
.woocommerce nav.woocommerce-pagination ul li:first-child span,
.woocommerce #content nav.woocommerce-pagination ul li:first-child a,
.woocommerce #content nav.woocommerce-pagination ul li:first-child span,
.woocommerce-page nav.woocommerce-pagination ul li:first-child a,
.woocommerce-page nav.woocommerce-pagination ul li:first-child span,
.woocommerce-page #content nav.woocommerce-pagination ul li:first-child a,
.woocommerce-page #content nav.woocommerce-pagination ul li:first-child span {
  -webkit-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.woocommerce ul.cart_list li ins,
.woocommerce ul.product_list_widget li ins,
.woocommerce-page ul.cart_list li ins,
.woocommerce-page ul.product_list_widget li ins {
  text-decoration: none;
}

.woocommerce td.product-name dl.variation dd p:last-child,
.woocommerce-page td.product-name dl.variation dd p:last-child {
  margin: 0;
}

.woocommerce .variations_form .variations td.label,
.woocommerce-page .variations_form .variations td.label {
  color: #333333;
  font-size: 14px;
}

.woocommerce #reviews h3,
.woocommerce-page #reviews h3 {
  margin-bottom: 5px;
}

.woocommerce #reviews #comments ol.commentlist,
.woocommerce-page #reviews #comments ol.commentlist {
  padding-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
  width: 70px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 85px;
}

div.cart_totals h2,
form.shipping_calculator h2,
form.checkout h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

div.single_variation {
  margin-bottom: 10px;
}

/*
 * Large Devices 992px - Change to 750px - 12
 */
@media screen and (max-width: 992px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    clear: none;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
  }
  .woocommerce ul.products li.product:last-child,
  .woocommerce-page ul.products li.product:last-child {
    margin-right: 0;
  }
  .woocommerce ul.products li.product:nth-child(3n),
  .woocommerce-page ul.products li.product:nth-child(3n) {
    margin-right: 2.12766%;
  }
  .woocommerce ul.products li.product:nth-child(2n),
  .woocommerce-page ul.products li.product:nth-child(2n) {
    margin-right: 0;
  }
  .home .woocommerce ul.products li.product, .home
  .woocommerce-page ul.products li.product {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
  }
  .home .woocommerce ul.products li.product:last-child, .home
  .woocommerce-page ul.products li.product:last-child {
    margin-right: 0;
  }
  .home .woocommerce ul.products li.product:nth-child(4n), .home
  .woocommerce-page ul.products li.product:nth-child(4n) {
    margin-right: 0;
  }
  .home .woocommerce ul.products li.product:nth-child(4n+1), .home
  .woocommerce-page ul.products li.product:nth-child(4n+1) {
    clear: left;
  }
  .home .woocommerce ul.products li.product:nth-child(2n+1), .home
  .woocommerce-page ul.products li.product:nth-child(2n+1) {
    clear: none;
  }
  .woocommerce .related.products ul.products li.product,
  .woocommerce .upsells.products ul.products li.product,
  .woocommerce-page .related.products ul.products li.product,
  .woocommerce-page .upsells.products ul.products li.product {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
  }
  .woocommerce .related.products ul.products li.product:last-child,
  .woocommerce .upsells.products ul.products li.product:last-child,
  .woocommerce-page .related.products ul.products li.product:last-child,
  .woocommerce-page .upsells.products ul.products li.product:last-child {
    margin-right: 0;
  }
  .woocommerce .related.products ul.products li.product:nth-child(2n),
  .woocommerce .upsells.products ul.products li.product:nth-child(2n),
  .woocommerce-page .related.products ul.products li.product:nth-child(2n),
  .woocommerce-page .upsells.products ul.products li.product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce .related.products ul.products li.product:nth-child(2n+1),
  .woocommerce .upsells.products ul.products li.product:nth-child(2n+1),
  .woocommerce-page .related.products ul.products li.product:nth-child(2n+1),
  .woocommerce-page .upsells.products ul.products li.product:nth-child(2n+1) {
    clear: left;
  }
  .woocommerce .related.products ul.products li.product:nth-child(3n),
  .woocommerce .upsells.products ul.products li.product:nth-child(3n),
  .woocommerce-page .related.products ul.products li.product:nth-child(3n),
  .woocommerce-page .upsells.products ul.products li.product:nth-child(3n) {
    margin-right: 2.12766%;
  }
  .woocommerce .related.products ul.products li.product:nth-child(3n+1),
  .woocommerce .upsells.products ul.products li.product:nth-child(3n+1),
  .woocommerce-page .related.products ul.products li.product:nth-child(3n+1),
  .woocommerce-page .upsells.products ul.products li.product:nth-child(3n+1) {
    clear: none;
  }
  .woocommerce .cart-collaterals .cross-sells,
  .woocommerce-page .cart-collaterals .cross-sells {
    display: none;
  }
}

/*
 * Medium Mobile Devices 767px - Change to 480px - 8
 */
@media screen and (max-width: 768px) {
  .home .woocommerce ul.products li.product, .home
  .woocommerce-page ul.products li.product {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
  }
  .home .woocommerce ul.products li.product:last-child, .home
  .woocommerce-page ul.products li.product:last-child {
    margin-right: 0;
  }
  .home .woocommerce ul.products li.product:nth-child(2n), .home
  .woocommerce-page ul.products li.product:nth-child(2n) {
    margin-right: 0;
  }
  .home .woocommerce ul.products li.product:nth-child(2n+1), .home
  .woocommerce-page ul.products li.product:nth-child(2n+1) {
    clear: left;
  }
  .woocommerce div.product div.images,
  .woocommerce div.product div.summary,
  .woocommerce #content div.product div.images,
  .woocommerce #content div.product div.summary,
  .woocommerce-page div.product div.images,
  .woocommerce-page div.product div.summary,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page #content div.product div.summary {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    float: none;
    text-align: center;
  }
  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering {
    float: none;
  }
  .woocommerce .woocommerce-ordering select,
  .woocommerce-page .woocommerce-ordering select {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  .home .woocommerce ul.products li.product, .home
  .woocommerce-page ul.products li.product {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
