// Font Family for HTML Doc and Body
@mixin font-stack-body {
	font-family: $base__font-family;
	font-weight: $base__font-weight;
}

// Font for Headings
@mixin font-stack-headers {
	font-family: $heading__font-family;
	font-weight: $heading__font-weight;
}

// Font Icons
@mixin font-stack-icon {
	font-family: $icon-font-family;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Base Containers Width
@mixin container-width( $width, $pad ) {
	margin-left: auto;
	margin-right: auto;
	padding-left: $pad;
	padding-right: $pad;
	width: $width;
}

// Boxed or Wide layout
@mixin boxed-layout( $width ) {
	@if config(boxed) {
		box-shadow: 0 0 10px rgba(black, 0.1);
		@include outer-container($width);
	} @else {
		width: 100%;
	}
}

// Reset list ex. ul, ol
@mixin reset-list() {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

// Reset float elements 
@mixin reset-float( $margin: right, $width: true ) {
	float: none;
	
	@if $margin == 'right' {
		margin-right: 0;
	} @else if $margin  == 'left' {
		margin-left: 0;
	}
	
	@if $width {
		width: 100%;
	}
}

@mixin omega-reset($nth, $col) {
  &:nth-child(#{$nth}) {
  	margin-right: flex-gutter();
  }

  &:nth-child(#{$nth}+1) {
  	clear: none
  }
}

// Display elements to inline-block
@mixin inline-block() {
	display: inline-block;
	@if browser('ie') == '8' {
		/* IE7/8 Hack */
		*display: inline;
		*zoom: 1;
	}
}

// Group inputs
@mixin group-inputs() {
	input[type="text"],
	input[type="datetime"],
	input[type="date"],
	input[type="tel"],
	input[type="email"],
	input[type="url"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	select,
	textarea {
		@content;
	}
}

// Group buttons
@mixin group-buttons() {
	.button {
		@content;
	}
}

// Animation
@mixin animation($animation) {
	animation-name: $animation;
}

// Keyframes Animations
@mixin animation-keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

// Animation Delay
@mixin animation-delay($duration, $delay, $count) {
	animation-duration: #{$duration}s;
	animation-delay: #{$delay}s;
	animation-iteration-count: $count;
}
