// ------------------------------------------------
// Configuration
// ------------------------------------------------

$configuration: (
    'font-size':     14px,
    'line-height':   1.5,
    'layout':        12,
    'logo':          100px,
    'min-width':     320px,
    'max-width':     1200px,
    'padding':       20px,
    'trim':          30px,
    'border-radius': 4px,
    'boxed':         true,
    'debug':         false
);

// ------------------------------------------------
// Minimum Browser Support
// ------------------------------------------------

$browser-minimum-versions: (
    'chrome':  '40',
    'firefox': '40',
    'ie':      '9',
    'safari':  '6',
    'opera':   '12'
) !global;

// ------------------------------------------------
// Colour Palette
// ------------------------------------------------

$color__primary:        #00A0D2;
$color__primary--black: #111111;
$color__primary--gray:  #CCCCCC;
$color__primary--red:   #FF0000;
$color__primary--green: #23CF5F;
$color__primary--white: #FFFFFF;
$color__content:        #ffffff;
$color__body:           #f2f2f2;
$color__text:           #333333;
$color__meta:           #999999;
$color__border:         #f5f5f5;
$color__link:           $color__primary;
$color__link--hover:    lighten($color__primary, 10%);

// ------------------------------------------------
// Fonts
// ------------------------------------------------

// Stacks

$raleway:      "Raleway", sans-serif;
$font-awesome: "FontAwesome";
$helvetica:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia:      Georgia, Times, "Times New Roman", serif;

// Base

$base__font-size:   config(font-size);
$base__line-height: config(line-height);
$base__font-color:  $color__text;
$base__font-family: $raleway;
$base__font-weight: 400;

// Headings

$heading__font-color:  $color__text;
$heading__font-family: $raleway;
$heading__font-weight: 600;
$heading__line-height: 1.5;
$heading__h1: 36px;
$heading__h2: 30px;
$heading__h3: 24px;
$heading__h4: 18px;
$heading__h5: 14px;
$heading__h6: 12px;

// Menu

$menu__font-size:       config('font-size');
$menu__font-size--sub:  config('font-size');
$menu__font-weight:     600;
$menu__font-family:     $raleway;
$menu__text-shadow:     none;
$menu__text-transform:  uppercase;

// Footer

$footer__font-color:         #CCC;
$footer__font-size:          $base__font-size;
$footer__link-color:         #AAA;
$footer__heading-font-color: #EEE;
$footer__heading-font-size:  15px;

// Widget

$widget__heading-font-color:  $color__text;
$widget__heading-font-size:   15px;
$widget__heading-font-weight: 600;

// ------------------------------------------------
// Buttons
// ------------------------------------------------

$button__bg-color:      $color__primary;
$button__border-radius: 3px;
$button__border-color:  darken($button__bg-color, 8%);
$button__font-color:    #FFF;
$button__font-size:     $base__font-size;
$button__font-weight:   600;
$button__line-height:   40px;
$button__padding:       0 22px;
$button__text-transform: uppercase;

// ------------------------------------------------
// Default Variables
// ------------------------------------------------

$border-radius:    config(border-radius);
$icon-font-family: $font-awesome;
$logo-size:        config(logo);
$padding:          config(padding);
$trim:             config(trim);

// ------------------------------------------------
// Neat and Bouron Frameworks
// ------------------------------------------------

$grid-columns:      config('layout');
$gutter:            golden-ratio($base__font-size, 1); // $padding !default;

$min-width:         config('min-width');
$max-width:         config('max-width');

$border-box-sizing: false !default;
$default-feature:   max-width !default;
$column:            60px !default;

// Responsive Breakpoints

$all-breakpoints: (
    'smallest': 320px,
    'handheld': 480px,
    'tablet':   768px,
    'laptop':   992px,
    'desktop':  1199px
);

// Layout Columns

$all-layout-columns: (
    phone: 4,
    tablet: 8,
    desktop:  12
);

// Breakpoints

$smallest:      max-width break(smallest) layout-column(phone);
$smallest--min: min-width break(smallest) layout-column(phone);

$handheld:      max-width break(handheld) layout-column(phone);
$handheld--min: min-width break(handheld) layout-column(phone);

$tablet:        max-width break(tablet) layout-column(tablet);
$tablet--min:   min-width break(tablet) layout-column(tablet);

$laptop:        max-width break(laptop) layout-column(desktop);
$laptop--min:   min-width break(laptop) layout-column(desktop);

$desktop:       max-width break(desktop) layout-column(desktop);
$desktop--min:  min-width break(desktop) layout-column(desktop);

// Debug Grid Columns

@if config(debug) {
    $visual-grid:         true !default;
    $visual-grid-color:   red !default;
    $visual-grid-index:   front !default;
    $visual-grid-opacity: 0.1 !default;
}
