// Configuration
// ------------------------------------------------
$configuration: (
	font-size: 14px,
	line-height: 1.5,
	layout: 12,
	logo: 100px,
	min-width: 320px,
	max-width: 1200px,
	padding: 20px,
	trim: 30px,
	border-radius: 4px,
	boxed: true,
	debug: false
);

// Minimum Browser Support
// ------------------------------------------------
$browser-minimum-versions: (
	'chrome':  '30',
	'firefox': '30',
	'ie':      '8',
	'safari':  '5',
	'opera':   '12'
) !global;

// Colour Palette
// ------------------------------------------------
$palette: (
	primary: 	#267DF4,
	secondary: 	#cccccc,
	tertiary: 	#111111,
	body: 		#f2f2f2,
	base:		#333333,
	content:  	#ffffff,
	link: 		#4285f4,
	meta:		#999999
);

$color__1: #267DF4;
$color__2: #111111;
$color__3: #cccccc;

// Font Stacks
// ------------------------------------------------
$font-awesome: "FontAwesome";
$helvetica: 	 "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: 		 Georgia, Times, "Times New Roman", serif;

// Fonts
// ------------------------------------------------

// Base
$base-font-size: config(font-size);
$base-line-height: config(line-height);
$base-font-color: color(base);
$base-font-family: $helvetica;
$base-font-weight: 400;

// Headings
$heading-font-color: color(base);
$heading-font-family: $helvetica;
$heading-font-line-height: 1.1;
$heading-font-weight: 700;

// Menu
$menu-font-size: config(font-size);
$menu-font-weight: normal;
$menu-font-family: $helvetica;
$menu-text-shadow: none;
$menu-text-transform: capitalize;
$sub-menu-font-size: config(font-size);

// Footer
$footer-font-color: color(base);
$footer-font-size: config(font-size);
$footer-link-color: color(link);
$footer-heading-font-size: 18px;
$footer-heading-font-color: color(base);

// Widget
$widget-heading-font-color: color(base);
$widget-heading-font-size: 18px;

// Font Headings
// ------------------------------------------------
$h1: 27px;
$h2: 24px;
$h3: 18px;
$h4: 14px;
$h5: 13px;
$h6: 11px;

// Buttons
// ------------------------------------------------
$button-bg-color: color(primary);
$button-border-radius: 4px;
$button-border-color: darken($button-bg-color, 8%);
$button-font-color: #fff;
$button-font-size: 14px;
$button-font-weight: normal;
$button-padding-box: 6px 12px;

// Others
// ------------------------------------------------
$border-radius: config(border-radius);
$icon-font-family: $font-awesome;
$logo-size: config(logo);
$padding: config(padding);
$trim: config(trim);

// Neat
// ------------------------------------------------
$min-width: config(min-width) !default;
$max-width: config(max-width) !default;
$grid-columns: config(layout) !default;
$border-box-sizing: false !default;
$default-feature: max-width !default;
$gutter: $padding !default;
$column: 60px !default;

$all-breakpoints: (
	phone-small: 320px,
	phone-medium: 480px,
	tablet-small: 750px,
	tablet-medium: 768px,
	desktop-small: 992px,
	desktop-medium: 1200px,
	desktop-large: 1600px
);

$all-layout-columns: (
	phone: 4,
	tablet: 8,
	desktop: 12
);

// Medium devices (desktops, 992px and below)
$desktop: max-width break(desktop-small) layout-column(desktop);

// Small devices (tablets, 768px and below)
$tablet: max-width break(tablet-medium) layout-column(tablet);

// Extra small devices (phones, less than 768px)
$phone: max-width break(phone-medium) layout-column(phone);

// Debug grid columns
@if config(debug) {
	$visual-grid: true !default;
	$visual-grid-color: red !default;
	$visual-grid-index: front !default;
	$visual-grid-opacity: 0.1 !default;
}
