/*
 * Default Button Styles
 */
@include group-buttons() {
	background-color: $button__bg-color;
	background-image: none;
	color: $button__font-color;
	cursor: pointer;
	display: inline-block;
	font-size: $button__font-size;
	font-weight: $button__font-weight;
	letter-spacing: 1px;
	line-height: $button__line-height;
	height: $button__line-height;
	margin: 5px;
	padding: $button__padding;
	transition: background 0.1s linear;
	text-align: center;
	user-select: none;
	white-space: nowrap;
	transition: opacity 0.2s ease;
	position: relative;
	outline: none;
	border: 0;
	text-shadow: 1px 1px 1px rgba(black, 0.2);
	text-transform: $button__text-transform;

	&:hover {
		background-color: $color__primary--black;
		border-color: $color__primary--black;
		color: $color__primary--white;
		text-shadow: 1px 1px 1px rgba(black, 0.2);
	}

	&--rounded {
		border-radius: $button__border-radius;
	}

	&--3d {
		border-radius: $button__border-radius;
		border-bottom: 3px solid rgba(black, 0.15);
    	transition: none;

    	&:hover {
			opacity: 0.9;
    	}
	}

	&--mini {
    	font-size: 11px;
    	height: 28px;
    	line-height: 28px;
		padding: 0 14px;
	}

	&--small {
    	font-size: 12px;
    	height: 34px;
    	line-height: 34px;
		padding: 0 17px;
	}

	&--large {
    	font-size: 16px;
    	height: 46px;
    	line-height: 46px;
		padding: 0 26px;
	}

	&--read-more,
	&--post-link {
		margin: 0;
	}

	&--post-link {
		min-width: 140px;
		text-align: center;
	}
}
