/*
 * Default Button Styles
 */
@include group-buttons() {
	background-color: $button__bg-color;
	background-image: none;
	border: 1px solid transparent;
	border-color: $button__border-color;
	border-radius: $button__border-radius;
	color: $button__font-color;
	cursor: pointer;
	display: inline-block;
	font-size: $button__font-size;
	font-weight: normal;
	line-height: 1.428571429;
	margin-bottom: 0;
	padding: 6px 12px;
	transition: background 0.1s linear;
	text-align: center;
	user-select: none;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background-color: #ebebeb;
		border-color: #adadad;
		color: $color__text;
	}
}

.btn-primary {
	background-color: $button__bg-color;
	background-image: none;
	border-color: $button__border-color;
	color: $button__font-color;

	&:hover {
		background-color: darken($button__bg-color, 10%);
		border-color: $button__border-color;
		color: $button__font-color;
	}
}
