/*
 * Headings
 */
.comments-title,
.comment-reply-title {
	font-size: 18px;
	margin: 0 0 $trim;
}

.comments {
	&__title {
		font-size: 18px;
		margin: 0;
	}
}

.comments-respond {
	clear: both;
}

.comment {

	.children {
		clear: both;
		list-style: none;
		margin: 0;
		padding-left: 10%;
	}

	&__list {
		list-style: none;
		padding-left: 0;
		margin: $trim 0;
	}

	&__item {
    	margin: 30px 0 0 30px;
		position: relative;
	}
	
	&__wrap {
    	border: 1px solid #e5e5e5;
    	border-radius: 5px;
		position: relative;
    	padding: $padding $padding $padding 35px;

		.bypostauthor & {
			background-color: #f9f9f9;
		}
	}

	&__body {
		padding: 0 0 0 15px;
		position: relative;
		overflow: hidden;

		p {
			margin: 20px 0 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__text {
		margin-top: 20px;
	}

	&__author {
    	color: #555;
    	font-size: 16px;
    	font-weight: bold;
		margin-bottom: -10px;

		a {
			color: inherit;
		}
	}

	&__date {
		font-size: 12px;
    	font-style: italic;
    	font-weight: 400;
		display: block;
    	color: #AAA;

    	a {
			color: inherit;
    	}
	}

	&__meta {
		float: left;
    	line-height: 1;
    	margin-right: 0;

		a {
			color: #999;
			&:hover {
				text-decoration: underline;
			}	
		}
	}

	&__avatar {
	    background-color: #fff;
	    border: 1px solid #e5e5e5;
	    border-radius: 50%;
	    left: -35px;
	    padding: 4px;
		position: absolute;
	    top: 15px;

	    img {
	    	display: block;
    		border-radius: 50%;
	    }
	}

	&__reply {    
		display: block;
	    position: absolute;
	    top: 4px;
	    left: auto;
	    text-align: center;
	    right: 0px;
	    line-height: 1;
	}

	&__awaiting-moderation {
		display: block;
		margin-top: 10px;
		margin-bottom: 0;
	}

}

.comment-form {
	
	&__required {
		color: $color__primary--red;
	}

	&__group {
		margin-bottom: 25px;
	}

	&__field {
		background-image: none;
		background-color: #fff;
		border-radius: 0;
		border: 1px solid #ddd;
		color: $color__text;
		font-size: 15px;
		line-height: 1.42857143;
		margin-right: 10px;
		padding: 8px 14px;
		width: 40%;

		@include media($tablet) {
			margin-right: 0;
			margin-bottom: 5px;
			width: 100%;
		}

		&--textarea {
			margin-right: 0;
			width: 100%;
		}
	}
	
	&__allowed-tags {
		display: none;
	}
}

.comment-subscription-form {
	font-size: 90%;
	margin: 0;
}

