.wrapper {
	background-color: $color__content;
	min-width: $min-width;
	position: relative;
	@include boxed-layout( $max-width );
	
	.wrapper {
		&--js-ready {
			left: 0;
			transition: left .2s ease;	
		}

		&--active {
			left: 21em;
		}
	}
}

.featured {
	&__wrap {

	}
}

.content {
	&__wrap {
		padding: $padding*4 0;
	}	
}

.content-area {
	float: left;
	margin-right: 40px;
	width: 860px;

	&--full {
		float: none;
		margin-right: 0;
	}

	&--both {
		width: 650px;
	}
}

.widget-area {
	float: left;
	width: 240px;
}
