/*
 * color style for Inputs Text
 */
// @include group-inputs() {
// 	border: 1px solid #c9c9c9;
// 	color: #2a2a2a;
// 	font-size: $base__font-size;
// 	border-radius: 0;
// 	outline: 0;
// 	padding: 5px;
// 	@include font-stack-body;
// }

input[type="search"] {
	box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	position: relative;
	top: 3px;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	border-radius: 0;
	resize: vertical;
}
