.navigation {
	float: right;
	
	&--style-2 {
		float: none;
    	max-width: none;
    	border-top: 1px solid $color__border;

    	.navigation-menu__link {
    		padding-top: 19px;
    		padding-bottom: 19px;

    		@include media($laptop) {
				padding: 14px 5px;
    		}
    	}
	}

	@include media($laptop) {
		float: none;

		.off_canvas_navigation & {
			display: none;
		}

		.toggle_navigation & {
			display: block;
		}
	}

}

.navigation-menu {
	list-style: none;
	margin: 0;
	float: left;

	&__item {
		
		&--active {
			color: $color__primary;
		}

		@include media($laptop--min) {
			color: $color__primary--black;
			float: left;
			position: relative;
			margin-left: 2px;
		}

		@include media($laptop) {
    		text-align: left;
		}
	}
		
	&__link {
		color: inherit;
		display: block;
		font-family: $menu__font-family;
		font-size: $menu__font-size;
		font-weight: $menu__font-weight;
		line-height: 22px;
		letter-spacing: 1px;
		padding: 39px 15px;
		text-align: center;
		text-shadow: $menu__text-shadow;
		text-transform: $menu__text-transform;
		transition: margin 0.4s ease, padding 0.4s ease;

		@include media($laptop) {
    		margin: 0;
			padding: 14px 5px;
			text-align: left;
		}
	}

	&__sub-menu {
		display: none;
		position: absolute;
	    width: 220px;
	    background-color: #fff;
	    box-shadow: 0px 13px 42px 11px rgba(black, 0.05);
	    border: 1px solid #eee;
	    border-top: 2px solid $color__primary;
	    height: auto;
	    z-index: 199;
	    top: 100%;
	    left: 0;
	    margin: 0;

		&--1 {
			border-top: 0;
			margin: 0;
			padding: 0;
		}

		&--2 {
			left: 100%;
			margin: 0;
			top: 0;
		}

		&__item {
			display: block;
			position: relative;
		}

		&__link {
			color: $color__text;
			display: block;
			font-size: $menu__font-size--sub;
			padding: 8px 10px;
			text-align: left;
		}

		@include media($laptop) {
			border: 0;
			margin: 0;
			position: relative;				
			width: auto;
		}
	}

	@include media($laptop) {
		float: none;
	}
}

.navigation-trigger {
	background-color: $color__primary;
	border-radius: $border-radius $border-radius 0 0;
	color: $color__text;
	display: none;
	font-size: 18px;
	margin-left: 10px;
	padding: 10px;

	@include media($laptop) {
		.off_canvas_navigation & {
			display: none;
		}

		.toggle_navigation & {
			display: block;
		}
	}
}

.off-canvas-trigger {
	display: none;
	font-size: 24px;
	left: 20px;
	position: absolute;
	top: 20px;
	z-index: 2;

	@include media($laptop) {
		.off_canvas_navigation & {
			display: block;
		}

		.toggle_navigation & {
			display: none;
		}
	}
}

.off-canvas {
	display: none;
	background-color: #fafafa;
	height: 100%;
	max-height: 100%;
	left: -240px;
	position: absolute;
	top: 0;
	width: 240px;
	box-shadow: 0 2px 2px 0 rgba(black, 0.14), 0 3px 1px -2px rgba(black, 0.2), 0 1px 5px 0 rgba(black, 0.12);
	border-right: 1px solid #e0e0e0;
	transition: left 0.4s ease;
	overflow: visible;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

	&--active {
		left: 0;
	}

	&__title {
		display: block;
	    position: relative;
	    font-size: 20px;
	    line-height: 56px;
    	padding-left: 16px;
	    letter-spacing: .02em;
	    font-weight: 400;
	}

	.admin-bar & {
		top: 32px;

		@include media($laptop) {
			top: 32px;
		}

		@include media($tablet) {
			top: 46px;
		}
	}

	@include media($laptop) {
		.off_canvas_navigation & {
			display: block;
		}

		.toggle_navigation & {
			display: none;
		}
	}
}

.off-canvas-menu {
	@include reset-list();
	
	&__item {
		border-bottom: 1px solid rgba(black, 0.1);
	}

	&__link {
		color: #757575;
		display: block;
		padding: 15px;
		font-size: $base__font-size;
    	font-weight: 400;
    	line-height: 24px;

		&:hover {
			background-color: #e0e0e0;
		}
	}

	&__sub-menu {
		background: darken($color__primary--black, 3%);
		padding-left: 0;
	}
}

.breadcrumbs {
	background: transparent;
	margin: 0 0 5px 0;
	padding: 7px 5px;

	p {
		margin: 0;
	}
}

.breadcrumb_last {
	color: #999;
}
