$icon-sprite-base-class: ".social";
$icon-sprite-dimensions: 24px;
$size: 24;

.social-media {
	list-style: none;
	margin: 10px 0;
	padding-left: 0;
	li {
		@include inline-block();
		margin-left: 3px;
		a {
			display: block;
			position: relative;
			height: $icon-sprite-dimensions;
			width: $icon-sprite-dimensions;
		}
	}
}

// Style icons

.social-style-normal {
	#{$icon-sprite-base-class} {
		background-image: url('../images/social-media-normal-32x32.png');
		background-repeat: no-repeat;
		display: block;
	}
	@include spritesheet-icon();
}

.social-style-gray {
	#{$icon-sprite-base-class} {
		background-image: url('../images/social-media-gray-32x32.png');
		background-repeat: no-repeat;
		display: block;
	}
	@include spritesheet-icon();
}

.social-style-black {
	#{$icon-sprite-base-class} {
		background-image: url('../images/social-media-black-32x32.png');
		background-repeat: no-repeat;
		display: block;
	}
	@include spritesheet-icon();
}

.social-icon-#{$size} {
	.social {
		background-size: #{$size}px;
	}
	@include spritesheet-icon($icon-sprite-dimensions);
}