/*
 * Main widgets
 */
.widget {
    border-top: 1px solid #EEe;
	margin-top: $trim;
	margin-bottom: $trim;
	padding-top: $trim;

	&__title {
    	color: $widget__heading-font-color;
    	font-size: $widget__heading-font-size;
    	font-weight: $widget__heading-font-weight;
    	letter-spacing: 1px;
		margin: 0 0 25px;
		word-wrap: break-word;
    	text-transform: uppercase;
	}
	
	&:first-child {
	    padding-top: 0;
	    border-top: 0;
	}

	&:first-child {
	    margin-top: 0;
	}
	
	ul {
		@include reset-list();
	}

	p:last-child {
		margin: 0;
	}

	@include media($laptop--both) {
		border-top: 0;
		display: inline-block;
		margin-right: 37px;
		margin-top: 0;
		padding-top: 0;
		vertical-align: top;
		width: 340px;
	}
	
}

.widget_nav_menu,
.widget_links,
.widget_meta,
.widget_archive,
.widget_recent_entries,
.widget_categories,
.widget_pages,
.widget_rss {
	li {
		padding: 4px;

		a {
			display: inline-block;
			padding: 0 3px 0 0;
			
			&:before {
				@include font-stack-icon();
				content: "\f105";
				color: #ccc;
				padding-right: 12px;
			}
		}
	}
}

.widget_recent_comments {
	li {
		word-wrap: break-word;
		padding: 4px;
	}
}

.calendar_wrap {
	table {
		width: 100%;
	}
}

/*
 * Custom Posts
 */
.widget-posts {
	@include reset-list();
	
	&__item {
		margin-bottom: 12px;
	}

	&__heading {
		margin-top: 0;
		margin-bottom: 3px;
	}

	&__thumbnail {
		float: left;
		margin-right: 10px;
		margin-bottom: 0;
		max-width: 90px;
	}

	&__date {
		display: block;
		font-size: 12px;
		text-transform: capitalize;
	}
}

/*
 * Social Media
 */
.widget_social_media {
	.social-media {
		margin-top: 10px;
	}
}

/*
 * Custom Contact Info
 */
.widget_custom_contact {
	.widget-contact-info {
		> li {
			line-height: 20px;
			margin: 3px 0;
			i {
				font-size: 16px;
				padding-right: 5px;
			}
		}
	}
}
