/*
 * Default Button Styles
 */
@include group-buttons() {
	background-color: #fff;
	background-image: none;
	border: 1px solid transparent;
	border-color: #ccc;
	color: #333;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 4px;
	user-select: none;
	transition: background .1s linear;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background-color: #ebebeb;
		border-color: #adadad;
		color: color(base);
	}
}

.btn-primary {
	background: $button-bg-color;
	background-image: none;
	border-color:$button-border-color;
	color: $button-font-color;

	&:hover {
		background: darken($button-bg-color, 10%);
		border-color:$button-border-color;
		color: $button-font-color;
	}
}