/*
 * Headings
 */
h2.comments-title,
h3.comment-reply-title {
	font-size: 18px;
	margin: 0 0 $padding;
}

#respond {
	clear: both;
}

/*
 * Comment List
 */
.comment-list {
	@include reset-list();
	margin: $padding 0;

	ul.children {
		clear: both;
		list-style: none;
		margin: 0;
		padding-left: 10%;
	}

}

/*
 * Commment Body
 */
.comment-wrapper {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	width: 100%;
}

.comment-body {
	padding-left: 0;

	p {
		margin-bottom: 10px;
	}
}

.comment-text {
	margin-top: 10px;
}

/*
 * Comment Author
 */
.comment-author {
	@include font-stack-headers();
	margin: 0 0 5px;
}

.fn {
	font-style: normal;
}

/* Hide 'says' */
.says {
	display: none;
	visibility: hidden;
}

/* Meta */
.comment-meta {
	font-size: 12px;
	font-style: italic;

	a {
		color: #999;
		&:hover {
			text-decoration: underline;
		}	
	}
}

.reply {
	margin-top: 20px;
	text-align: right;
}

/* Hightlight Author Comments */
.bypostauthor {
	.comment-wrapper {
		background: #f9f9f9;
	}
}

/* Moderation */
.comment-awaiting-moderation {
	display: block;
	margin-top: 10px;
	margin-bottom: 0;
}

/*
 * Comment Form
 */
span.required {
	color: #ff0000;
}

.comment-form {
	
	textarea {
		width: 100%;
	}

	input.form-control {
		display: inline-block;
		margin-right: 10px;
		width: 40%;
	}
}

.comment-subscription-form {
	font-size: 90%;
	margin: 0;
}

.form-allowed-tags {
	display: none;
}