// Inner container group
@include container-class() {
	@include container-width($max-width, 0);
}

/* Global wrapper */
#wrapper {
	min-width: $min-width;
}

/* Container */
#container {
	background: color('content');
	position: relative;
	@include boxed-layout( $max-width );
}

/* Main Content */
#main {
	padding: 20px 30px;
}

.main {
	margin: 0;
}

/* Home Sidebar */
.home-sidebar {
	padding-bottom: $padding;
	
	.widget {
		margin-bottom: 0;
	}
}