/*
 * Post Container
 */
.post {
	margin-bottom: $padding;
	position: relative;
}

/*
 * Post Titles
 */
h1,
h2 {
	&.entry-title {
		margin: 0 0 10px;
	}
}

.page-title {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding: 50px 0;

    &__heading {
	    color: #333;
	    font-size: 28px;
	    font-weight: 600;
	    line-height: 1;
	    letter-spacing: 1px;
	    margin: 0;
    	padding: 0;
	    text-transform: uppercase;
    }
}

.post-grid_item {
	.entry-title {
		font-size: 15px;
		line-height: 1.5em;
	}
}

/*
 * Entry Thumbnail
 */
.entry-thumbnail {
	line-height: 0;
	margin-bottom: $padding;

	img {
		transition: opacity .2s linear;
		&:hover {
			opacity: .8;
		}
	}

}

.medium-thumbnail {
	margin-bottom: $padding;
	@include span-columns(5);
}

/*
 * Post Meta
 */
.entry-meta {
	color: color(meta);
	font-size: 12px;
	font-weight: bold;
	margin: 5px 2px 15px 2px;

	.sep {
		color: color(meta);
		font-weight: normal;
		padding: 0 7px;
	}

}

time.updated {
	display: none;
}

/*
 * Category
 */
.category {

}

/*
 * Tag
 */
.tag {

}

/*
 * Content
 */
.entry-container {
	margin-bottom: $padding;
}

.entry-content {
	margin-bottom: $padding;
}

.entry-summary {
	
}

/*
 * Pagination
 */
.pagination {
	margin: 20px 0 0;
	> .active {
		> a,
		> a:hover,
		> span,
		> span:focus,
		> span:hover,
		> a:focus {
			background: color(primary);
			border-color: darken(color(primary), 8%);
		}
	}
}
