/*
 * Grid Columns
 */
.grid-columns {

	&:before,
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}

	&:after {
		clear: both;
	}

	[class*="grid_"] {
		min-height: 30px;
		&:last-child {
			@include omega();
		}
	}

	.grid_12 {
		@include span-columns(12);
	}

	.grid_11 {
		@include span-columns(11);
	}

	.grid_10 {
		@include span-columns(10);
	}

	.grid_9 {
		@include span-columns(9);
	}

	.grid_8 {
		@include span-columns(8);
	}

	.grid_7 {
		@include span-columns(7);
	}

	.grid_6 {
		@include span-columns(6);
	}

	.grid_5 {
		@include span-columns(5);
	}

	.grid_4 {
		@include span-columns(4);
	}

	.grid_3 {
		@include span-columns(3);
	}

	.grid_2 {
		@include span-columns(2);
	}

	.grid_1 {
		@include span-columns(1);
	}	

	.grid_last {
		@include omega();
	}

}