#top {
	position: relative;
	padding: 0 30px;
}

/*
/*
 * Header Content
 */
.header-content {
	padding: $padding 0;
}

.header-content-group {
	padding: 10px 20px;
	position: relative;
}

/*
 * Logo
 */
div.brand {
	
	a.logo {
		display: block;
		max-width: $logo-size;
	}
	
}

/*
 * Addons
 */
div.addon {
	margin-top: -40px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 50%;

	.social-media {
		margin: 0 0 5px;
		text-align: right;
	}

	.search-form {
		display: inline-block;
	}

	.input-group {
		max-width: 210px;
	}

}