.header {
	position: relative;
}

// Logo

.logo {
    float: left;
    font-size: 36px;
    line-height: 100%;
    margin-right: $trim;
	padding-right: $trim;

	&__link,
	&__image {
		display: block;
	}

	&__image {
		height: $logo-size;
	}
}

// Addons

.addon {
	margin-top: -40px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 50%;

	.social-media {
		margin: 0 0 5px;
		text-align: right;
	}

	.search-form {
		display: inline-block;
	}

	.input-group {
		max-width: 210px;
	}

}
