.navigation {
	background-color: $color__2;
	position: relative;
}

.navigation-menu {
	@include reset-list();
	
	&__item {
		float: left;
		position: relative;
		color: #fff;

		&--active {
			background: $color__1;
			color: #fff;
		}
	}
		
	&__link {
		color: inherit;
		display: block;
		font-family: $menu-font-family;
		font-size: $menu-font-size;
		font-weight: $menu-font-weight;
		line-height: 48px;
		padding: 0 15px;
		text-align: center;
		text-shadow: $menu-text-shadow;
		text-transform: $menu-text-transform;
	}

	&__sub-menu {
		@include reset-list();
		background: #f9f9f9;
		border: 1px solid #ddd;
		min-width: 200px;
		display: none;
		left: 0;
		position: absolute;
		top: 100%;
		z-index: 99;

		&--1 {
			border-top: 0;
			margin: 0;
			padding: 0;
		}

		&--2 {
			left: 100%;
			margin: 0;
			top: 0;
		}

		&__item {
			display: block;
			position: relative;
		}

		&__link {
			color: color(base);
			display: block;
			font-size: $sub-menu-font-size;
			padding: 8px 10px;
			text-align: left;
		}
	}
}

/*
 * Mobile Navigation
 */
a.mobile-toggle {
	background: $color__1;
	border-radius: $border-radius $border-radius 0 0;
	color: #fff;
	display: none;
	font-size: 18px;
	margin-left: 10px;
	padding: 10px;
	&:hover {
		color: #fff;
	}
}

/*
 * Off Canvas Nav
 */

.off-canvas {
	display: none;
	background: $color__2;
	height: 100%;
	left: -21em;
	position: absolute;
	top: 0;
	width: 21em;
	transition: left .2s ease;

	&--active {
		left: 0;
	}
}

.off-canvas-trigger {
	display: none;
	font-size: 24px;
	left: 20px;
	position: absolute;
	top: 20px;
	z-index: 2;
}

.off-canvas-menu {
	@include reset-list();
	
	&__item {
		background: $color__1;
		border-bottom: 1px solid darken($color__1, 10%);
		display: block;
		line-height: 38px;
		color: #fff;
	}

	&__link {
		color: inherit;
		padding: 0 10px;
	}

	&__sub-menu {
		background: darken($color__2, 3%);
		padding-left: 0;
	}
}

.breadcrumbs {
	background: transparent;
	margin: 0 0 5px 0;
	padding: 7px 5px;

	p {
		margin: 0;
	}
}

.breadcrumb_last {
	color: #999;
}
