/*
 * Links
 */
a,
.link {
	color: color(link);
	&:hover {
		color: lighten(color(link), 10%);
	}
}

/*
 * Lists
 */
ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
}

/*
 * Fix font headings size
 */
h1, .h1 {
	font-size: $h1;
}

h2, .h2 {
	font-size: $h2;
}

h3, .h3 {
	font-size: $h3;
}

h4, .h4 {
	font-size: $h4;
}

h5, .h5 {
	font-size: $h5;
}

h6, .h6 {
	font-size: $h6;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $heading-font-color;
	font-weight: bold;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
	@include font-stack-headers();

	a {
		color: inherit;
		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
}

/*
 * Quotes
 */
blockquote {
	font-size: 14px;
}

/*
 * Paragraphs
 */
p, pre {
	margin-bottom: 1.38em;
}